
  .details-image {
    max-width: 100%;
    max-height: 100px;
    margin-top: 10px;
  }
  
  .details-list {
    list-style-type: none;
    padding-left: 0;
  }
  
  .details-list-item {
    border-top: 1px solid rgb(221, 199, 161);
    padding-bottom: 10px;
    margin-bottom: 10px;
  }

  .details-details-container {
    max-width: 1200px;
    margin: auto;
    text-align: center;
  }
  
  .no-bullet-list {
    list-style-type: none;
    padding-left: 0;
  }
  
  
  
  .details-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .card {
    border: 1px solid rgb(221, 199, 161);
    padding: 10px;
    margin: 20px auto;
    width: 80%;
  }
  
  .arrow {
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    margin: 0 30px; 
    position: relative; 
  }
  
  
  .hidden {
    display: none;
  }
  
  .changed {
    color: rgb(23, 25, 35);
    padding: 0px;
  }