.form-group {
  margin-bottom: 10px;
}

.form-card {
background: linear-gradient(to bottom,  rgb(29, 39, 66), rgb(23, 25, 35));
border-radius: 20px;
overflow: hidden;
margin: 20px auto;
padding: 20px;
width: 90%;
text-align: center;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
margin-top: 60px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

