.gem-market, .jew-market {
  padding: 20px;
  text-align: center;
}

.gem-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.market-card {
  width: 30%;
  margin: 10px;
  margin-bottom: 20px;
  padding: 20px;
  background-color:   rgb(221, 199, 161);
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-img-top {
  width: 100%;
  height: 150px;
  object-fit: contain;
  margin-top: 20px;
}

.btn {
  margin: 5px;
}

.homeButton {
  margin: 20px;
}