body {
    background-color: #e2f6ef; 
    color: #343a40; 
    
    .navbar-custom {
        background-color: #0e052f !important; 
        
    }
    
    #tables {
        color: #343a40; 
    }
    tables h2 {
        color: black; 
      }

    #tables .table{
        border-collapse: separate; 
        border-radius: 20px; 
        overflow: hidden; 
    }
    
    #tables .table th{
        color: #000000;
        background-color: #73f0d3;
    }
    #tables .table thead th{
        color: #343a40; 
        background-color: #73f0d3;
    }

    

    #tables .table td {
        color: #343a40; 
        background-color: #b9efe3;
    }
    
    #tables button {
        background-color: #04dcaa; 
        color: white; 
        border: none; 
        border-radius: 20px; 
    }
    
    #tables button:hover {
        background-color: #0036b3; 
        border: none;
        border-radius: 20px; 
    }

    .homeButton button{ 
        background-color: #04dcaa;
        color: white;
        border: none;
        border-radius: 20px; 
    }
    .homeButton button:hover{ 
        background-color: #0036b3;
        color: white;
        border: none;
        border-radius: 20px; 
    }

    .dashboardButton button {
        background-color: #04dcaa;
        color: white;
        border: none;
        border-radius: 20px; 

    }

    .dashboardButton button:hover {
        background-color: #0036b3;
        color: white;
        border: none;
        border-radius: 20px; 
    }
}