body {
    background-color: #e2f6ef; 
    color: #343a40; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin: 0; 
    padding: 0; 
    min-height: 100vh; 
    justify-content: flex-start; 
}

.navbar-custom {
    background-color: #0e052f !important; 
}

.wid {
    width: 100vw; /* Ensure it takes full viewport width */
}

.centered-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

#tables {
    color: #343a40; 
}

tables h2 {
    color: black; 
}

#tables .table {
    border-collapse: separate; 
    border-radius: 20px; 
    overflow: hidden; 
}

#tables .table th {
    color: #000000;
    background-color: #73f0d3;
}

#tables .table thead th {
    color: #343a40; 
    background-color: #73f0d3;
}

#tables .table td {
    color: #343a40; 
    background-color: #b9efe3;
}

#tables button {
    background-color: #04dcaa; 
    color: white; 
    border: none; 
    border-radius: 20px; 
}

#tables button:hover {
    background-color: #0036b3; 
    border: none;
    border-radius: 20px; 
}

.homeButton button { 
    background-color: #04dcaa;
    color: white;
    border: none;
    border-radius: 20px; 
}

.homeButton button:hover { 
    background-color: #0036b3;
    color: white;
    border: none;
    border-radius: 20px; 
}

.dashboardButton button {
    background-color: #04dcaa;
    color: white;
    border: none;
    border-radius: 20px; 
    width: 450px; 
    text-align: center; 
    margin: 5px 0; 
}

.dashboardButton button:hover {
    background-color: #0036b3;
    color: white;
    border: none;
    border-radius: 20px; 
}

input[type="text"] {
    width: 150px; 
    padding: 5px; 
    margin-bottom: 10px; 
    border-radius: 5px; 
}
