body {
  background-color: rgb(103, 113, 122);
  color: rgb(221, 199, 161);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 0;
  min-height: 100vh;
  justify-content: center;
}

.navbar-custom {
  background-color: rgb(23, 25, 35) !important;
}

.wid {
  width: 100vw; 
}

.centered-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

#tables {
  color: #343a40;
  width: 70%; 
  margin: 0 auto; 
}

#tables h2 {
  color: black;
  text-align: center;
}

#tables .table {
  border-collapse: collapse;
  border-radius: 20px;
  overflow: hidden;
  width: 100%; 
}


#tables .table thead th {
  color: rgb(221, 199, 161);
  background-color: rgb(23, 25, 35);
}

#tables .table td, #tables .table th {
  color: rgb(221, 199, 161);
  background-color:  rgb(29, 39, 66);
  border: 1px solid rgb(23, 25, 35); 
}


#tables button,
.custom-button {
  background-color:rgb(23, 25, 35);
  color: rgb(221, 199, 161);
  border: 3px solid rgb(221, 199, 161);
  border-radius: 20px;
}

#tables button:hover,
.custom-button:hover {
  background-color: rgb(23, 25, 35);
  border: 3px solid rgb(23, 25, 35);
  border-radius: 20px;
}

.homeButton button {
  background-color: rgb(23, 25, 35);
  color:  rgb(221, 199, 161);
  border: 3px solid rgb(221, 199, 161);
  border-radius: 20px;
}

.homeButton button:hover {
  background-color: rgb(221, 199, 161);
  color: rgb(23, 25, 35);
  border: 3px solid rgb(23, 25, 35);
  border-radius: 20px;
}

.dashboardButton button {
  background-color:rgb(23, 25, 35);
  color:  rgb(221, 199, 161);
  border: 3px solid rgb(221, 199, 161);
  border-radius: 20px;
  width: 450px;
  text-align: center;
  margin: 5px 0;
}

.dashboardButton button:hover {
  background-color:  rgb(221, 199, 161);
  color: rgb(23, 25, 35);
  border: 3px solid rgb(23, 25, 35);
  border-radius: 20px;
}

input[type='text'], input[type='password'] {
  background-color: rgb(23, 25, 35);
  color: rgb(221, 199, 161);
  width: 40%;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 2px solid  rgb(221, 199, 161);
  display: inline-block;
}

input[type='text']::placeholder, input[type='password']::placeholder{
  background-color: rgb(23, 25, 35);
  color: rgb(221, 199, 161);
  text-align: center;
}

input[type='text']:focus, input[type='password']:focus {
  background-color: rgb(23, 25, 35);
  color: rgb(221, 199, 161);
  border: 2px solid rgb(23, 25, 35);
  box-shadow: 0 4px 10px rgb(221, 199, 161);/* Árnyék hozzáadása */
}

input[type='file'] {
  background-color: rgb(23, 25, 35);
  color: rgb(221, 199, 161);
  width: 40%;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 2px solid  rgb(221, 199, 161);
  display: inline-block;
}

.gem-cards,
.jew-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-background {
  background: rgb(23, 25, 35);
  border-radius: 20px;
  overflow: hidden;
  margin: 20px auto;
  padding: 20px;
  width: 90%;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 60px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  position: relative; 
}

.card-background::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border: 5px solid rgba(221, 199, 161, 0.8); 
  border-radius: 18px; 
  pointer-events: none; 
}
.card-background::after {
  content: '';
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  border: 2px solid rgba(221, 199, 161, 0.5); 
  border-radius: 16px; 
  pointer-events: none;
}


.card {
  background: linear-gradient(to bottom, rgb(89, 116, 140),rgb(23, 25, 35));
  border-radius: 20px;
  overflow: hidden;
  margin: 20px auto;
  padding: 20px;
  width: 90%;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 60px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}



.card-img-top {
  width: 100%;
  height: 150px;
  object-fit: contain;
}

.card-body {
  padding: 15px;
  color: rgb(221, 199, 161);
}
.profile-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-card{
  background: linear-gradient(to bottom,  rgb(29, 39, 66), rgb(23, 25, 35));
  border-radius: 20px;
  overflow: hidden;
  margin: 20px auto;
  padding: 20px;
  width: 90%;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 60px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}


.card-title {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.card-text {
  margin-bottom: 10px;
}

.btn {
  background-color:rgb(23, 25, 35);
  color:  rgb(221, 199, 161);
  border: 3px solid  rgb(221, 199, 161);
  border-radius: 20px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.btn:hover {
  background-color:rgb(23, 25, 35);
  color: rgb(221, 199, 161);
  border: 3px solid rgb(23, 25, 35);
  border-radius: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px; 
}

button {
  background-color: rgb(29, 39, 66);
  color:  rgb(221, 199, 161);
  border: 3px solid  rgb(221, 199, 161);
  border-radius: 20px;
  padding: 5px 10px;
}

button:hover {
  background-color:rgb(29, 39, 66);
  color: rgb(221, 199, 161);
  border: 3px solid rgb(29, 39, 66);
  border-radius: 20px;
}
